.battle {

  h3 {
    font-family: 'Press Start 2P', cursive;
    margin: 10px 10px 10px 10px;
    font-size: 0.6rem;
  }

  p{
    font-size: 1rem;
  }

  h2 {
    text-align: center;
  }
  span.actualHealth {
    color: $accentTextColor;
    
  }

  .events p.heroAttack {
    color: $accentTextColor;
    text-align: center;
  }

  .events p.monsterAttack {
    color: crimson;
    text-align: center;
  }

  .wrapper {
    margin-bottom: 50px;
    @include flexVerCenter;
    justify-content: center;
    height: 90vh;
  }

  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hero,
  .monster {
    width: 45%;
  }

  .hero img {
    box-shadow: -10px 10px 6px -6px #777;
  }
  .monster img {
    box-shadow: 10px 10px 6px -6px #777;
  }
  
  
  .health{
    background-color: #ccc;
    height: 30px;
    width: 100%;
    margin: 0 auto;
    border: solid 1px #aaa;
    position: relative;
    opacity:1;
    p{
      position: absolute;
      z-index: 30;
      margin: 0;
    }
  }


  .healthBox {
    background-color: #ccc;
    height: 28px;
    width: inherit;
    position: absolute;
    z-index: 10;
  }

  .healthBar {
    background-color: #007f00;
    width: inherit;
    height: 28px;
    position: absolute;
    z-index: 20;
  }

}