.battle {

  h3 {
    font-family: 'Press Start 2P', cursive;
    margin: 30px 10px 10px 10px;
  }

  span.actualHealth {
    color: $accentTextColor;
  }

  .events p {
    color: $secondaryTextColor;
  }

  .wrapper {
    margin-bottom: 50px;
  }

  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hero,
  .monster {
    width: 40%;
  }
}