//wrapper

.wrapper {
  max-width: 1080px;
  margin:0 auto;
}


//Font Sizes
html {
  @include fontSize(15);
}

h1 {
  font-size: 3rem;
  text-shadow:0px 3px 0px #b2a98f,
              0px 14px 10px rgba(0,0,0,0.15),
              0px 24px 2px rgba(0,0,0,0.1),
              0px 24px 30px rgba(0,0,0,0.1);
}
//Stripping Styles

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

ul li {
  list-style-type: none;
}




//classes that hides things that need to be hidden.

.hideNoFootprint {
  display: none;
}



.hideYesFootprint {
  visibility: hidden;
}

//audio
audio {
  position: sticky;
  top:0;
  right:0;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
}

audio:hover, audio:focus, audio:active
{
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}