//Animation keyframes



@keyframes borderRainbow {
  0%{
    border: 2px solid black;
    transform:rotate(0);
  }
  12%{
    border: 2px solid #8b00ff;
  }
  24%{
    border: 2px solid #2e2b5f;
  }
  25%{
    transform:rotate(15deg);
  }
  36%{
    border: 2px solid #0000ff;
  }
  48%{
    border  : 2px solid #00ff00;
  }
  50%{
    transform:rotate(-15deg);
  }
  60%{
    border: 2px solid #ffff00;
  }
  72%{
    border: 2px solid #ff7f00;
  }
  75%{
    transform:rotate(15deg);
  }
  84%{
    border: 2px solid #ff0000;
  }
  100%{
    border: 2px solid black;
    transform:rotate(0);
  }
}

@keyframes danger {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

//Media Queries



@media (max-width: 500px) {
  

  header .form__field:placeholder-shown ~ .form__label {
    font-size: 0.5rem;
  }

  .battle,
  .weaponDrop {
    h3 {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  
  h2,
  p {
    font-size: 0.7rem;
  }

  .weaponSelection {

    ul li {
      margin-left:10px;
      margin-right: 10px;
    }
  }

  .battle {
    p {
      font-size: 0.5rem;
    }
  }

}