.weaponSelection {

  max-height: 600px;
  
  .wrapper {
    margin-bottom: 50px;
  }
  
  .wrapper ul {
    @include flexHorCenter;
  }
  

  li {
    margin: 20px;
    width: calc(100% / 3 - 40px);
    transform:scale(1);
    transition: all 1s;
  }

  li:hover,
  li:focus {
    transform:scale(1.2);
    cursor:pointer;
  }

  .imgContainer {
    height: 100%;
    
  }
}