.weaponSelection {
  
  
  

  .wrapper {
    margin-bottom: 50px;
  }

  
  h2,
  p {
    text-align: center;
  }

  p {
    color: $accentTextColor;
  }

  li h3 {
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
  }
  
  .wrapper ul {
    @include flexHorCenter;
  }
  

  li {
    margin: 20px;
    width: calc(100% / 3 - 40px);
    transform:scale(1);
    transition: all 1s;
    @include flexVerCenter;
    justify-content: center;
  }

  li:hover,
  li:focus {
    transform:scale(1.2);
    cursor:pointer;
  }

  .imgContainer {
    height: 100%;
    
  }
}