html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  padding-left: 0px;
}

html {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  font-size: 1rem;
}

p {
  margin: 10px;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

ul li {
  list-style-type: none;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#9f83b2), to(#bf764d));
  background: linear-gradient(270deg, #9f83b2, #bf764d);
  background-size: 400% 400%;
}

.lowHealth {
  -webkit-animation: danger 4s ease infinite;
          animation: danger 4s ease infinite;
}

.veryLowHealth {
  -webkit-animation: danger 2s ease infinite;
          animation: danger 2s ease infinite;
}

.hideNoFootprint {
  display: none;
}

form.attack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  margin: 10px;
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  background-color: #d8a499;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, -webkit-transform 1s;
  transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s, -webkit-transform 1s;
}

.button:hover,
.button:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: #7294d4;
  border: 2px solid black;
  margin: 8px;
  -webkit-animation: borderRainbow 0.5s ease infinite;
          animation: borderRainbow 0.5s ease infinite;
}

.button:active {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: red;
  -webkit-transition: background-color 0;
  transition: background-color 0;
  color: white;
}

.hideYesFootprint {
  visibility: hidden;
}

.mediaPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

audio {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  border-radius: 7px 7px 7px 7px;
}

audio:hover, audio:focus, audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

img {
  max-height: 325px;
  max-width: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  height: 90vh;
  /* reset input */
  /* demo */
}

header div.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  text-align: center;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input.playerName {
  text-align: center;
}

header .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

header .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid aquamarine;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

header .form__field::-webkit-input-placeholder {
  color: transparent;
}

header .form__field:-ms-input-placeholder {
  color: transparent;
}

header .form__field::-ms-input-placeholder {
  color: transparent;
}

header .form__field::placeholder {
  color: transparent;
}

header .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

header .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: aquamarine;
}

header .form__field:focus {
  padding-bottom: 6px;
  padding-top: 50px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #8ea7dd, #38ef7d);
     border-image: -webkit-gradient(linear, left top, right top, from(#8ea7dd), to(#38ef7d));
     border-image: linear-gradient(to right, #8ea7dd, #38ef7d);
  border-image-slice: 1;
}

header .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #8ea7dd;
  font-weight: 700;
}

header .form__field:required, header .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header body {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

.weaponSelection .wrapper {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.weaponSelection h2,
.weaponSelection p {
  text-align: center;
}

.weaponSelection p {
  color: aquamarine;
}

.weaponSelection li h3 {
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
}

.weaponSelection .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weaponSelection li {
  margin: 20px;
  width: calc(100% / 3 - 40px);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weaponSelection li:hover,
.weaponSelection li:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.weaponSelection .imgContainer {
  height: 100%;
}

.battle h3 {
  font-family: 'Press Start 2P', cursive;
  margin: 10px 10px 10px 10px;
  font-size: 0.6rem;
}

.battle p {
  font-size: 1rem;
}

.battle h2 {
  text-align: center;
}

.battle span.actualHealth {
  color: aquamarine;
}

.battle .events p.heroAttack {
  color: aquamarine;
}

.battle .events p.monsterAttack {
  color: crimson;
}

.battle .wrapper {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.battle .characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle .hero,
.battle .monster {
  width: 45%;
}

.battle .hero img {
  -webkit-box-shadow: -10px 10px 6px -6px #777;
          box-shadow: -10px 10px 6px -6px #777;
}

.battle .monster img {
  -webkit-box-shadow: 10px 10px 6px -6px #777;
          box-shadow: 10px 10px 6px -6px #777;
}

.weaponDrop .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  height: 90vh;
}

.weaponDrop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weaponDrop li {
  margin: 20px;
  width: calc(100% / 2 - 40px);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weaponDrop li h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
}

.weaponDrop h3,
.weaponDrop p {
  margin: 10px;
}

.weaponDrop p {
  color: aquamarine;
  text-align: center;
}

.weaponDrop li:hover,
.weaponDrop li:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.weaponDrop .imgContainer {
  height: 100%;
}

.endScreen .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.endScreen h3 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

@-webkit-keyframes borderRainbow {
  0% {
    border: 2px solid black;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12% {
    border: 2px solid #8b00ff;
  }
  24% {
    border: 2px solid #2e2b5f;
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  36% {
    border: 2px solid #0000ff;
  }
  48% {
    border: 2px solid #00ff00;
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    border: 2px solid #ffff00;
  }
  72% {
    border: 2px solid #ff7f00;
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  84% {
    border: 2px solid #ff0000;
  }
  100% {
    border: 2px solid black;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes borderRainbow {
  0% {
    border: 2px solid black;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12% {
    border: 2px solid #8b00ff;
  }
  24% {
    border: 2px solid #2e2b5f;
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  36% {
    border: 2px solid #0000ff;
  }
  48% {
    border: 2px solid #00ff00;
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    border: 2px solid #ffff00;
  }
  72% {
    border: 2px solid #ff7f00;
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  84% {
    border: 2px solid #ff0000;
  }
  100% {
    border: 2px solid black;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes danger {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes danger {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 500px) {
  header .form__field:placeholder-shown ~ .form__label {
    font-size: 0.5rem;
  }
  .battle h3,
  .weaponDrop h3 {
    font-size: 0.6rem;
  }
}

@media (max-width: 360px) {
  .wrapper {
    margin: 0 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.5rem;
  }
  h2,
  p {
    font-size: 0.7rem;
  }
  .weaponSelection ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .battle p {
    font-size: 0.6rem;
  }
}
